@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina Solid&display=swap');

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  background-image: url("pizza-pattern.png");
  background-size: cover;
  background-position: center;
}

*, *::after, *::before{
  box-sizing: border-box;
}

section {
  animation: transitionIn 0.75s;
}

.navbar-mine {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  animation: navBarSlideIn 0.75s ease;
}

.navbar-mine:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgb(255, 144, 0);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(70% - 20px));
  transform: scaleX(-1);
}

#top-nav {
  margin-right: 1rem;
  padding: 0;
  position: relative;
}
.bootstrap-fix{
  margin: 7px;
}
#top-nav ul, #pizzaralogo, #hamburger-icon{
  filter: drop-shadow(0px 1px 2px rgba(65, 65, 65, 0.9));
}

#top-nav ul li a {
  text-decoration: none;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(255, 255, 235);
}

#desktop-nav ul li a:hover{
  color: black;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#top-nav ul li {
  padding: 5px;
  margin-left: 0.8em;
}

#top-nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: rgb(255, 144, 0);
}

#pizzaralogo {
  width: 80px;
  height: 100px;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#home, 
#menu, 
#book, 
#about, 
#order{
  text-decoration: underline; 
}

.logo-container {
  width: 100px;
  height: 120px;
}

.add-to-cart-button-container {
  position: relative;
  width: 150px;
  height: 40px;
  margin-left: 10px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 40px;
  background-color: rgb(255, 255, 200);
  border: 4px solid rgb(255, 255, 200);
  border-radius: 50px;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
  transition: width 0.3s ease;
  font-family: 'open sans';
}

.add-to-cart-button:hover {
  width: 150px;
  transition: 0.3s;
}

.add-to-cart-button svg{
  width: 40px;
  height: 30px;  
  color: black;
}
.total-price{
  display: none;
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  padding-right: 5px;
}
.add-to-cart-button:hover .total-price{
  display: block;
  transition: 0.3s;
}
.item-count{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.menu-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.95);
  width: auto;
  z-index: 1;
  border: 5px rgba(0,0,0,0.95);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}


.dropdown-content a {
  color: black;
  transition: scroll-behavior 0.5s ease-in-out;
}

.dropdown-content a:hover {
  background-color: rgb(255, 144, 0);
}
.menu-dropdown:hover{
  animation: dropdown-slide 0.5s;
  filter: drop-shadow(0px 0px 0px rgba(65, 65, 65, 0.9));
}

.menu-dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.menu-dropdown:hover .dropbtn {
  background-color: rgb(255, 144, 0);
}

#hamburger-icon {
  margin-top: 1rem;
  display: none;
  cursor: pointer;
  height: 100%;
  filter: none;
}
.mobile-close-nav{
  position: absolute;
  top: 0;
  right: 1rem;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  margin-top: 5px;
  transition: 0.4s;
  border-radius: 10px;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  z-index: 20;
}

.open .bar2 {
  opacity: 0;
  z-index: 20;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  z-index: 20;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  display: none;
  background-color: rgba(0,0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 0px 2px rgba(0,0,0,0.9);
  z-index: 10;
  animation: mobile-slide-in 0.3s ease-in-out;
}

.mobile-menu ul li a:hover {
  color: rgb(255, 144, 0);
}

@keyframes mobile-slide-in{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

.stickNav {
  position: fixed;
  top: -50%;
  width: 100%;
  z-index: 10;
  transition: top 0.5s;
}

.stickNav:hover {
  top: 0;
}
@keyframes navBarSlideIn{
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
#cart{
  position: fixed;
  background-color: black;
  background-size: cover;
  width: 425px;
  top: 0;
  right: -450px;
  height: 100%;
  z-index: 10;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 70px 10px 1fr 10px 100px 70px;
  overflow: auto;
  user-select: none;
  padding: 1rem;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('wood-texture.jpg');
}
#cart::-webkit-scrollbar {
  display: none;
}
section.showCart #cart{
  right: 0;
  width: 425px;
}
section.showCart-mobile #cart{
  right: 0;
  width: 100%
}
#cart-header{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#cart-header h1{
  font-family: 'londrina solid';
  font-size: 4em;
  color: rgb(255,255,235);
  font-weight: none;
  letter-spacing: 2px;
  margin-left: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.line-break{
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 0.5rem;
}
.item img{
  width: 100%;
}
.item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255,255,235);
  align-items: center;
  filter: drop-shadow(3px 10px 3px rgba(0, 0, 0, 0.5));
}

.Quantity{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1.5px solid #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
}
.Quantity span{
  border: none;
  background: transparent;
  font-family: 'open sans';
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Quantity span:nth-child(2){
  background-color: transparent;
  color: rgb(255,255,235);
}
.cart-prices{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-price-subtotal,
.cart-price-total{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-price-subtotal a,
.cart-price-total a,
.cart-price-total-value,
.cart-price-subtotal-value{
  font-family: 'open sans';
  font-weight: bold;
  color: rgb(255,255,235);
}
.cart-price-subtotal a,
.cart-price-subtotal-value{
  font-size: 1.4em;
}
.cart-price-total a,
.cart-price-total-value{
  font-size: 1.5em;
}
#cart-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#cart-buttons button{
  border: none;
  cursor: pointer;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.3em;
}
.close-button{
  background-color: rgb(255,255,235);
  color: black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.checkout-button{
  background-color: rgb(255, 144, 0);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.checkout-button a {
  text-decoration: none;
  color: black;
}
#cart-subtotal{
  display: flex;
  justify-content: space-between;
  font-family: 'open sans';
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#cart-total{
  display: flex;
  justify-content: space-between;
  font-family: 'open sans';
  font-size: 1.7em;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#empty-cart{
  display: none;
  font-family: 'open sans';
  font-weight: bold;
  color: #efecec;
  font-size: 1.2em;
}

@keyframes cart-slide{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
#home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

#title h2 {
  color: rgb(255, 144, 0);
  font-family: 'pacifico';
  font-size: max(2vw, 1.5em);
  font-weight: normal;
  margin-bottom: 0;
}
.home-slogan-text{
  animation: homeSloganSlide 0.75s ease;
}
@keyframes homeSloganSlide{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#title h1 {
  color: white;
  font-family: 'londrina solid';
  font-size: max(7vw, 4em);
  text-align: center;
  letter-spacing: 4px;
  font-weight: normal;
  margin-top: 0;
}

.book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 144, 0);
  border: 6px solid rgb(255, 144, 0);
  border-radius: 30px;
  width: 250px;
  height: 60px;
  color: white;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 2.1em;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  animation: bookButtonSlide 0.75s ease-in-out 1.5s both;
  opacity: 1;
}

.book-button:hover {
  transform: scale(1.1);
}
@keyframes bookButtonSlide{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  40%{
    transform: translateY(-25px);
  }
  60%{
    transform: translateY(0px);
  }
  70%{
    transform: translateY(-5px);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

.home-pizza {
  width: 100%;
  max-width: 850px;
  min-width: 250px;
  animation: home-pizza-zoom 1.5s ease;
}
.home-order-segment{
  width: 100%;
  background-color: rgb(255, 255, 235);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-order-image{
  width: 100%;
  max-width: 500px;
  animation: order-pizza 3s ease-in-out infinite;
}
@keyframes order-pizza {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0px);
  }
}
.home-order-segment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgb(255, 255, 235);
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
.home-order-segment-appear{
  opacity: 1;
  transform: translateY(0);
}
#home-order-segment-text h2 {
  color: rgb(255, 144, 0);
  font-family: 'pacifico';
  font-weight: normal;
  font-size: max(2vw, 2em);
}

#home-order-segment-text h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'londrina solid';
  font-size: max(4.5vw, 4.5em);
  font-weight: normal;
  letter-spacing: 2px;
}

.home-title-text span{
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.75s ease;
  display: inline-block;
}
.home-title-text span.fade{
  opacity: 1;
  transform: translateY(0);
}

#home-order-segment-text p {
  color: black;
  font-family: 'open sans';
  font-weight: bold;
  font-size: max(1vw, 1em);
  line-height: 25px;
}

.open-contact-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(255, 144, 0);
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.2em;
}
.open-contact-container svg{
  transform: scale(2.5);
  color: rgb(255, 144, 0);
  margin-right: 1.5rem;
}
.open-contact-container a {
  display: flex;
  flex-direction: column;
}
.open-hours,
.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding-bottom: 1rem;
}
.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 144, 0);
  border: none;
  border-radius: 30px;
  width: 240px;
  height: 50px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.order-button:hover {
  transform: scale(1.1);
}
.specials-segment{
  background-color: rgb(255,255,235);
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('wood-texture.jpg');
  background-size: cover;
}
.specials-container{
  width: 100%;
  height: auto;
  padding: 0.5rem;
  padding-top: 2rem;
}
.specials-inner{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specials-header h2{
  color: rgb(255, 144, 0);
  font-family: 'pacifico';
  font-weight: normal;
  font-size: max(3vw, 2em);
  text-align: center;
  padding: 0;
  margin: 0;
}

.specials-header h1{
  color: #fff;
  font-family: 'londrina solid';
  font-weight: normal;
  font-size: max(6.5vw, 4em);
  text-align: center;
  padding: 0;
  margin: 0;
}
.specials-carousel{
  width: 100%;
  margin: auto;
}
.specials-slides{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  position: relative;
}
.specials-slide{
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 1rem;
}
.carousel-item-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.carousel-item img{
  width: 100%;
  max-width: 500px;
}

.carousel-indicators button {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  margin-left: 7px !important;
  background-color: #bbb;
}
.carousel-indicators button.active {
  background-color: rgb(255, 144, 0);
}

.carousel-control-prev, 
.carousel-control-next{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: rgb(255, 144, 0) !important;
  top: 50%;
  transition: 0.5s ease-in-out !important;
}
.carousel-control-prev:hover, 
.carousel-control-next:hover{
  background-color: rgba(0,0,0,0.2) !important;
}
.specials-slide-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
.specials-slide-text-inner{
  width: 100%;
  max-width: 800px;
  height: auto;
  background-color: rgba(0,0,0, 0.65);
  border-radius: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.carousel-text-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carousel-text-header h2{
  font-family: 'londrina solid';
  font-size: max(5vw, 2em);
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
}
.specials-text{
  font-family: 'open sans';
  font-size: max(1.5vw, 1em);
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
} 
.specials-prices{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'open sans';
  font-size: max(2vw, 1.3em);
  font-weight: bold;
  color: rgb(255, 144, 0);
}
#specials-btn-1,
#specials-btn-2,
#specials-btn-3{
  color: white;
  height: 100%;
  max-height: 50px;
}
#our-team-img{
  border-radius: 50%;
  width: 100%;
  max-width: 450px;
}

#menu-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
  padding-top: 0;
}

#menu-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin: 0;
  padding: 0;
  animation: menu-title-slide 1s ease;
}
@keyframes menu-title-slide{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}
#menu-title h2 {
  color: rgb(255, 144, 0);
  font-family: 'pacifico';
  font-size: max(3vw, 2em);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#menu-title h1 {
  color: white;
  font-family: 'londrina solid';
  font-size: max(7vw, 4em);
  letter-spacing: 4px;
  font-weight: normal;
  margin-top: 0;
}

.menu-pizza {
  width: 100%;
  max-width: 450px;
  min-width: 250px;
  margin: 0;
  padding: 0;
  animation: menu-pizza-slide 1s ease;
}
@keyframes menu-pizza-slide{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}

#pizza-menu-container {
  background-color: rgb(255, 255, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#pizza-menu-container h2 {
  color: rgb(255, 144, 0);
  font-family: 'pacifico';
  font-size: max(3vw, 2em);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#pizza-menu-container h1 {
  color: black;
  font-family: 'londrina solid';
  font-size: max(8vw, 4em);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.slides-container{
  display: flex;
  flex-direction: row;
  position: relative;
}
.mySlides {
  display: none;
  transition: transform 0.5s ease;
}
.mySlides img{
  max-width: 350px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 45px;
  max-height: 45px;
  margin-top: -60px;
  background-color: rgb(255, 144, 0);
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}
.prev{
  left: -5%;
}
.next {
  right: -5%;
  border-radius: 50%;
}

.prev:hover, .next:hover {
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.8);
  transition: 0.3s;
}
.text {
  color: rgb(0,0,0);
  font-size: 30px;
  font-family: 'open sans';
  font-weight: bold;
  padding: 8px 12px;
  text-align: center;
  width: 100%;
}
.add-cart-button{
  background-color: rgb(255, 144, 0);
  border: none;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 200px;
  height: 30px;
  border-radius: 40px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.3s ease-in-out;
}
.add-cart-button:hover{
  transform: scale(1.1);
}
.slider-cart{
  background-color: rgb(255, 144, 0);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 15%;
  bottom: -10px;
}
.slider-cart:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.slider-cart img{
  margin-top: 20%;
}
.viewbutton{
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 14px;
  color: rgb(255,255,235);
  border: 2px solid rgb(255,255,235);
  background: none;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.viewbutton:hover{
  background-color: rgb(255, 144, 0);
  color: black;
  transform: scale(1.1);
  border-color: rgb(255, 144, 0);
}
.mySlides:hover .hover-info{
  opacity: 1;
}
.hover-info{
  background: rgba(37,37,38, 0.91);
  height: 67%;
  width: 91%;
  position: relative;
  top: -90%;
  left: 4.2%;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  opacity: 0;
  z-index: 2;
}


.overlay{
  position: fixed;
  background-color: rgba(71, 69, 69, 0.7);
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}
#overlay-inner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('wood-texture.jpg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 500px;
  position: relative;
  opacity: 1;
  margin: auto;
  display: flex;
  animation: menu-slide 0.3s ease-in-out;
}
#overlay-inner h1{
  font-family: 'londrina solid';
  font-size: 2.3em;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
#overlay-inner a{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'open sans';
  text-align: center;
}
.ingrediants{
  font-size: 1em;
  color: white;
}
.prices{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.prices a{
  font-size: 1.2em;
  color: rgb(255, 144, 0);
  font-weight: bold;
}
#overlay-content-1, #overlay-content-2, 
#overlay-content-3, #overlay-content-4, 
#overlay-content-5, #overlay-content-6{
  display: none;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#close,
.cart-close{
  position: absolute;
  font-family: 'open sans';
  font-weight: bold;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: white;
  border:0;
  text-transform: uppercase;
  cursor: pointer;
}
#close:hover,
.cart-close:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.overlay-cart{
  position: fixed;
  background-color: rgba(71, 69, 69, 0.7);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  padding: 1rem;
}
.cart-overlay{
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 700px;
  position: relative;
  opacity: 1;
  margin: auto;
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  animation: cartOverlaySlide 0.3s ease-in-out;
}
@keyframes cartOverlaySlide{
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opactiy: 1;
    transform: translateY(0);
  }
}
#cart-overlay-content-1 h1, #cart-overlay-content-2 h1, 
#cart-overlay-content-3 h1, #cart-overlay-content-4 h1, 
#cart-overlay-content-5 h1, #cart-overlay-content-6 h1,
#cart-overlay-content-7 h1, #cart-overlay-content-8 h1,
#cart-overlay-content-9 h1, #cart-overlay-content-10 h1,
#cart-overlay-content-11 h1, #cart-overlay-content-12 h1,
#cart-overlay-content-13 h1, #cart-overlay-content-14 h1{
  font-family: 'open sans';
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: left;
}
.item-description{
  font-family: 'open sans';
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: left;
}
.special-instructions{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.special-instructions a,
.item-quantity a{
  font-family: 'open sans';
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  text-align: left;
}
.special-instructions-input{
  width: 100%;
  height: 50px;
  border: 1.5px solid #000;
  border-radius: 5px;
}
.item-quantity{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: left;
}

.item-quantity-btns{
  border: 1.5px solid #000;
  border-radius: 5px;
  width: 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.item-quantity-btns button{
  border: none;
  background: transparent;
  font-family: 'open sans';
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-quantity-btns span{
  font-family: 'open sans';
  font-size: 1.2em;
}
.size-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
}
.size-buttons button{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 144, 0);
  border-radius: 5px;
  border: none;
  font-family: 'open sans';
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: left;
}
.cart-close{
  color: black;
}

#cart-overlay-content-1, #cart-overlay-content-2, 
#cart-overlay-content-3, #cart-overlay-content-4, 
#cart-overlay-content-5, #cart-overlay-content-6,
#cart-overlay-content-7, #cart-overlay-content-8,
#cart-overlay-content-9, #cart-overlay-content-10,
#cart-overlay-content-11, #cart-overlay-content-12,
#cart-overlay-content-13, #cart-overlay-content-14{
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@keyframes menu-slide{
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 15px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-menu, .dot:hover {
  background-color: rgb(255, 144, 0);
}

  
#pizza-info h2 {
  color: black;
  font-family: 'open sans';
  font-weight: bold;
}

#pizza-info a {
  color: black;
  font-family: 'open sans';
  font-weight: bold;
}
.pizza-name-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-cart-icon {
  background-color: rgb(255, 144, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#price {
  font-size: 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(255, 144, 0);
}
#sides{
  background-color: rgb(255, 255, 235);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('wood-texture.jpg');
  background-size: cover;
  padding-bottom: 2rem;
}
.sides-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sides-header h1{
  font-family: 'londrina solid';
  font-weight: normal;
  font-size: max(6.5vw, 4em);
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.sides-header h2{
  font-family: 'pacifico';
  font-weight: normal;
  font-size: max(3vw, 2em);
  color: rgb(255, 144, 0);
  margin: 0;
  padding: 0;
}
.sides-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 2rem;
  justify-items: space-evenly;
}
.sides-item img{
  width: 100%;
}
.sides-item{
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.sides-item h2{
  font-family: 'open sans';
  font-weight: bold;
  font-size: 2em;
  color: #000000;
  margin-bottom: 5px;
}
.sides-item a{
  color: #000000;
  font-family: 'open sans';
  font-weight: bold;
  margin-bottom: 10px;
}
.sides-price{
  font-size: 1.3em;
}
.more-side-btn-container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-side-btn{
  background-color: rgb(255, 144, 0);
  border: none;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 200px;
  height: 30px;
  border-radius: 40px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.3s ease-in-out;
}
.more-side-btn:hover{
  transform: scale(1.1);
}
#less-btn{
  display: none;
}
.ingrediants{
  font-size: 1em;
}
.about-page{
  height: 550px;
}
.about-section{
  background-color: rgb(255, 255, 235);
  width: 100%;
  height: auto;
  padding: 2rem;
}
.about-section-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section-img{
  position: relative;
  padding: 0;
  margin: 0;
}
.about-section-img img{
  width: 100%;
  max-width: 1000px;
}
.about-section-text{
  text-align: center;
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}
.about-location-text-appear{
  opacity: 1;
  transform: translateY(0);
}

.about-section-text h2{
  font-family: 'pacifico';
  font-weight: normal;
  font-size: 2em;
  color: rgb(255, 144, 0);
  margin: 0;
  padding: 0;
}
.about-section-text h1{
  font-family: 'londrina solid';
  font-weight: normal;
  font-size: 5em;
  color: #000000;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
.about-section-text a{
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bolder;
  color: #000000;
}
.about-location{
  background-color: rgb(255, 144, 0);
  width: 100%;
  height: auto;
  padding: 2rem;
  box-shadow: 0px -1.5px 2px rgb(65,65,65,0.9);
}
.about-location-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about-location-text{
  background-color: rgb(255, 255, 235);
  width: 100%;
  max-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.about-location-text h2{
  font-family: 'Londrina solid';
  font-weight: normal;
  font-size: 3em;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}
.about-location-text a{
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1em;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}
.store-int,
.maps-location{
  object-fit: cover;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.team-image{
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
}
.team-item-header{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'londrina solid';
  font-size: max(5vw, 2em);
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
}
.contact-section{
  width: 100%;
  height: auto;
  background-color: rgb(255,255,235);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.contact-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container h1{
  font-family: 'londrina solid';
  font-weight: normal;
  font-size: max(6vw, 3em);
  letter-spacing: 2px;
  text-align: center;
  color: black;
}
.contact-inner{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}
.contact-info-item{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.contact-info-item img{
  width: 100%;
  max-width: 90px;
  padding: 10px;
}
.contact-info-item h2{
  font-family: 'open sans';
  font-weight: bold;
  font-size: max(3vw, 1.5em);
  text-align: left;
  color: black;
}
.contact-info-item a{
  font-family: 'open sans';
  font-weight: bold;
  font-size: max(2vw, 1em);
  text-align: left;
  color: black;
}
.contact-form{
  padding-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
}
.contact-form input{
  width: 100%;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  font-family: 'open sans';
  color: #000000;
  font-size: 1em;
}
.contact-button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-button{
  width: 100%;
  max-width: 500px;
  height: 40px;
  background-color: rgb(255, 144, 0);
  border: none;
  border-radius: 20px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.4em;
  color: #000;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.contact-button:hover{
  transform: scale(1.1);
}
.booking-page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 235);
}
.booking-header{
  font-weight: normal;
  text-align: center;
  padding: 2rem;
}
.booking-header h2{
  font-family: 'pacifico';
  color: rgb(255, 144, 0);
  font-size: max(3vw, 2em);
  margin: 0;
  padding: 0;
}
.booking-header h1{
  font-family: 'londrina solid';
  color: #000000;
  font-size: max(6vw, 4em);
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.date-time-section{
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('wood-texture.jpg');
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.booking-inner{
  width: 100%;
  max-width: 650px;
  height: auto;
  background-color: rgb(255, 255, 235);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.booking-inner h2{
  font-family: 'londrina solid';
  font-weight: normal;
  font-size: max(5vw, 2.5em);
  color: #000000;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.calendar{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}
.cal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 144, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cal-header button,
.booking-time-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.cal-header button svg{
  width: 20px;
  height: 20px;
}
.monthYear{
  text-align: center;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.2em;
}
.cal-days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px;
  width: 100%;
  background-color: black;
}
.day{
  padding: 5px;
  text-align: center;
  font-family: 'open sans';
  color: #804d4d;
  font-weight: bold;
}
.cal-dates{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-family: 'open sans';
}
.date{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(1.5vw, 1.2em);
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
}
.date:hover,
.date.active {
  background-color: rgb(255, 144, 0);
  color: #fff;
}
.date.inactive{
  color: #d2d2d2;
}

.date.inactive:hover{
  color: #d2d2d2;
}
.booking-time-container{
  width: 210px;
  height: auto;
  background-color: rgb(255, 144, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
}
.booking-time-container button svg{
  height: 100%;
}
.time-text-container{
  display: flex;
  flex-direction: column;
  font-family: 'open sans';
  font-weight: normal;
  font-size: 1.2em;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  width: 70px;
  height: auto;
  align-items: center;
  justify-content: center;
}
.time,
.numPeople{
  font-weight: bolder;
}
.continue-button-container{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  padding-top: 1rem;
}
.continue-button,
.back-button{
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  transition: 0.3s ease-in-out;
}
.continue-button:hover,
.back-button:hover{
  transform: scale(1.1);
}
#details-section{
  display: none;
}
.details-input{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.details-format{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.details-input input {
  width: 100%;
  height: 50px;
  font-family: 'open sans';
  color: #000000;
  font-size: 1em;
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #555;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 0.5rem;
}

.details-input input:focus{
  color: #212529;
  background-color: #fff;
  border-color: rbg(255, 144, 0);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 144 0 / 25%);
}

.bookComBtnContainer{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.bookComBtn{
  border: none;
  background-color: rgb(255, 144, 0);
  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.4em;
  color: #000000;
  transition: 0.3s ease-in-out;
}
.bookComBtn:hover{
  transform: scale(1.1);
}
.book-confirmation-overlay{
  position: fixed;
  background-color: rgba(71, 69, 69, 0.7);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  padding: 1rem;
}
.book-confirmation-container{
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 700px;
  position: relative;
  opacity: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  animation: cartOverlaySlide 0.3s ease-in-out;
}
.book-confirmation-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.book-overlay-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.book-overlay-header h2{
  text-align: left;
  font-size: 4rem;
}
.close-book-button{
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: 'open sans';
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-confirmation-date-time, 
.book-comfirmation-details {
  background-color: #efecec;
  border-radius: 20px;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
}
.date-container,
.time-container,
.people-container,
.name-container,
.email-container,
.number-container,
.comments-container{
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}
.confirmBtn{
  width: 200px;
  height: 50px;
  border: 2px solid rgb(255, 144, 0);
  border-radius: 40px;
  background-color: rgb(255, 144, 0);
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.confirmBtn{
  transform: scale(1.1);
}
.line-break-2{
  width: 100%;
  height: 1px;
  background-color: rgb(200,200,200);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.order-segment{
  width: 100%;
  background-color: rgb(255, 255, 235);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.order-container{
  width: 100%;
  height: auto;
  background-color: #eeeee6;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 2rem;
  color: #000000;
}
.order-container h1{
  font-size: max(5vw, 3em);
  font-family: 'londrina solid';
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}
.order-container h2{
  font-size: max(3vw, 2em);;
  font-family: 'londrina solid';
  font-weight: bold;
  letter-spacing: 2px;
}
#details-container{
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  max-width: 600px;
  margin-right: 10px;
  height: 100%;
}
.order-details-header{
  margin-bottom: 10px;
}
.order-items{
  height: 218px;
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
}
.order-item{
  display: grid;
  grid-template-columns: 150px, 70px, 70px;
  gap: 10px;
  text-align: center;
  font-family: 'open sans';
  font-size: 2em;
  font-weight: bold;
  color: #000;
  align-items: center;
}
.order-item img{
  width: 100%;
  max-width: 150px;
}
.order-details{
  margin-top: 1rem;
}
.order-detail{
  margin-bottom: 1rem;
}
.details{
  width: 100%;
  height: 50px;
  font-family: 'open sans';
  color: #000000;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #555;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 0.5rem;
}

.details:focus{
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 144, 0, 0.25);
}
#instructions{
  height: 90px;
}
.payment-side{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#payment{
  max-width: 450px;
}
.prices{
  display: flex;
  flex-direction: column;
}
.subtotal{
  display: flex;
  justify-content: space-between;
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.total{
  display: flex;
  justify-content: space-between;
  font-family: 'open sans';
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}

.payment-method-option{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: 'open sans';
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
}
.payment-method-option svg{
  size: 60px;
  color: rgb(255, 144, 0);
}
.card-select{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(255, 144, 0);
  background-color: rgb(255, 144, 0);
  transition: 0.3s;
}
.card-select:hover{
  cursor: pointer;
}
.bank-select{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(255, 144, 0);
  background-color: #fff;
  transition: 0.3s;
}
.bank-select:hover{
  cursor: pointer;
}
.payment-text{
  font-family: 'open sans';
  font-size: '1.2em';
  font-weight: normal;
  color: #000000;
  padding-top: 25px;
}
.pay-button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.pay-button{
  border: none;
  width: 70%;
  height: 40px;
  background-color: rgb(255, 144, 0);
  color: #000000;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.pay-button:hover{
  transform: scale(1.1);
}
.payment-overlay{
  position: fixed;
  background-color: rgba(71, 69, 69, 0.7);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  padding: 1rem;
}
.payment-overlay-inner{
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 700px;
  position: relative;
  opacity: 1;
  margin: auto;
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  animation: cartOverlaySlide 0.3s ease-in-out;
}
.pay-close-btn{
  border: none;
  background: transparent;
  font-family: 'open sans';
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-overlay-inner a{
  font-family: 'open sans';
  font-size: 2em;
  font-weight: bold;
  color: #000;
}
.order-image-container{
  width: 100%;
  max-width: 450px;
  position: relative;
}
.order-image{
  width: 100%;
}
.hor-bar{
  background-color: rgb(255, 144, 0);
  position: absolute;
  height: 1rem;
  width: 33%;
  right: 0;
  bottom: 4px;
}
.vert-bar{
  background-color: rgb(255, 144, 0);
  position: absolute;
  height: 80%;
  width: 1rem;
  right: 0;
  bottom: 4px;
}

#add-to-cart-mobile{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 144, 0);
  position: fixed;
  bottom: 0;
  height: 35px;
  z-index: 4;
}

.add-to-cart-button-mobile{
  border: none;
  background: none;
  width: 100%;
  height: 35px;
}
.cart-icon-mobile{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: auto;
  bottom: auto;
}
.total-price-mobile{
  font-family: 'open sans';
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1.3em;
}
.item-count-circle-mobile{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 23%;
  right: 10px;
}
.item-count-mobile{
  font-family: 'open sans';
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  left: auto;
  right: auto;
  bottom: 13%;
}
.white-space{
  height: 50px;
  background-color: rgb(255, 255, 235);
}
#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'open sans';
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(255, 144, 0);
  box-shadow: 0px -1.5px 2px rgb(65,65,65,0.9);
  width: 100%;
  z-index: 10;
}

#footer-container a {
  font-size: 1.3em;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes home-pizza-zoom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes dropdown-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .sides-container{
    grid-template-columns: repeat(1, 1fr);;
  }
  .date-time-section{
    padding: 1rem;
  }
  .date-time-inner{
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 600px){
  .sides-container{
    grid-template-columns: repeat(2, 1fr);;
  }
}
@media only screen and (max-width: 750px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #menu-banner {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #menu-title {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #footer-container a{
    margin-top: 1rem;
  }
}
@media only screen and (min-width:750px) {
  .bootstrap-fix{
    margin-top: 15px;
  }
  .home-order-segment-container {
    align-items: flex-start;
    text-align: left;
  }
  #add-to-cart-mobile{
    display: none;
  }
  .prevBtn,
  .nextBtn{
    top: 50%;
    position: relative;
  }
  .carousel-item-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .specials-slide-text{
    width: 70%;
    padding: 2rem;
  }
  .team-item-header{
    text-align: left;
    align-items: flex-start;
    justify-content: left;
  }
  .contact-info-item img{
    max-width: 150px;
  }
  .home-order-segment{
    padding: 4rem;
    flex-direction: row;
  }
  .open-contact-container{
    flex-direction: row;
    justify-content: center;
  }
  .open-hours,
  .contact{
    margin-right: 3rem;
  }
  .specials-slide{
    flex-direction: row;
    justify-content: space-between;
  }
  #sides-inner{
    text-align: left;
  }
  .sides-container{
    grid-template-columns: repeat(3, 1fr);;
  }
  .about-section-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-section-text{
    text-align: left;
  }
  .about-location-container{
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-inner{
    flex-direction: row;
    justify-content: space-between;
  }
  .details-format{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .order-segment{
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  
  #footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }
  
  #footer-container {
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }
}
@media only screen and (min-width: 1080px){
  .sides-container{
    grid-template-columns: repeat(4, 1fr);;
  }
}

@media only screen and (min-width: 1200px){
  .menu-pizza{
    max-width: 600px;
  }
}

@media only screen and (min-width:1500px) {
  #footer {
    font-size: 20px;
  }
  .home-order-image{
    max-width: 600px;
  }
  .carousel-item img{
    max-width: 600px;
  }
  .menu-pizza{
    max-width: 800px;
  }
  .mySlides img{
    max-width: 425px;
  }
  .sides-container{
    grid-template-columns: repeat(5, 1fr);;
  }
  .booking-inner{
    max-width: 900px;
  }
  .booking-inner h2{
    font-size: 6em;
  }
  .date{
    font-size: 1.5em;
  }
  .order-items{
    height: 350px;
  }
  #details-container{
    max-width: 900px;
  }
  #payment{
    max-width: 600px;
  }
  .order-image-container{
    max-width: 600px;
  }
}